<template>
    <div class="hello">
        <h1>{{ msg }}</h1>

        <div class="grid-container">
            <div class="column">
                <h2>Plugin</h2>
                <div class="select">
                    <select
                        v-show="plugins != []"
                        v-model="plugin"
                        @change="onPluginChange($event)"
                    >
                        <option selected="selected" disabled>
                            Choose an option
                        </option>
                        <option v-for="pl in getPlugins" v-bind:key="pl">
                            {{ pl.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="column">
                <h2>Device</h2>
                <select
                    class="select"
                    v-show="devices != []"
                    v-model="device"
                    @change="onDeviceChange($event)"
                >
                    <option selected disabled>Choose an option</option>
                    <option v-for="dev in devices" v-bind:key="dev">
                        {{ dev.name }}
                    </option>
                </select>
            </div>

            <div class="column">
                <h2>Item</h2>
                <select class="select" v-model="item">
                    <option selected disabled>Choose an option</option>
                    <option v-for="itm in items" v-bind:key="itm">
                        {{ itm.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="grid-container-info">
            <div class="column">
                <p class="selectedOption">
                    <b>Selected plugin:</b> {{ plugin }}
                </p>
                <p class="selectedOption">
                    <b>Selected device:</b> {{ device }}
                </p>
                <p class="selectedOption"><b>Selected item:</b> {{ item }}</p>
            </div>
            <div class="column">
                <button
                    v-if="items.length > 0 && item"
                    v-on:click="fetchItemData()"
                    class="btnData"
                >
                    Fetch Item Data
                </button>
                <pre v-if="itemData != ''" class="boxData">{{
                    pretty(itemData)
                }}</pre>
            </div>
        </div>
        <hr />

        <div class="info">
            <h2>Version</h2>

            <div v-if="version.data">
                <p><b>API:</b> {{ version.data.api }}</p>
                <p><b>Core:</b> {{ version.data.core }}</p>
                <p><b>Library:</b> {{ version.data.library }}</p>
                <p>
                    <b>Plugin Interface:</b>
                    {{ version.data.plugininterface_iid }}
                </p>
            </div>

            <h3>JSON format</h3>
            <pre>{{ pretty(version) }}</pre>

            <hr />

            <h2 v-on:click="isHidden = !isHidden">All Data</h2>
            <pre v-if="!isHidden">{{ pretty(all) }}</pre>

            <!-- <p>{{ getPlugins }}</p> -->
        </div>
    </div>
</template>

<script>
import axios from "axios";

const API_URL = "http://10.20.30.40/api/";
const USERNAME = "";
const PASSWORD = "";

export default {
    name: "HelloWorld",
    props: {
        msg: String,
    },

    data() {
        return {
            isHidden: true,
            version: "Loading SIA version...",
            all: null, // all SIA plugins and related info,
            plugins: [], //
            plugin: null,
            devices: [],
            device: null,
            items: [],
            item: null,
            itemData: "",
        };
    },

    mounted() {
        setTimeout(() => {
            this.getVersion();
            this.getAll();
        }, 200);
    },

    computed: {
        getPlugins() {
            if (this.all == null) return null; // no data yet

            this.all.data.forEach((el) => {
                this.plugins.push(el);
            });
            return this.plugins;
        },
    },

    methods: {
        pretty(value) {
            return JSON.stringify(value, null, 2);
        },

        // get all the data we need for plugins(connectors), devices and items
        getAll() {
            axios
                .get(API_URL + "/plugins", {
                    auth: {
                        username: USERNAME,
                        password: PASSWORD,
                    },
                })
                .then((response) => {
                    this.all = response;
                })
                .catch((error) => console.log(error));
        },

        // get version information about various components of SIA
        getVersion() {
            axios
                .get(API_URL + "/version", {
                    auth: {
                        username: USERNAME,
                        password: PASSWORD,
                    },
                })
                .then((response) => {
                    this.version = response;
                })
                .catch((error) => console.log(error));
        },

        // fetch all data for an item
        fetchItemData() {
            let endpoint =
                "plugins/" +
                this.plugin +
                "/devices/" +
                this.device +
                "/items/" +
                this.item +
                "/data";
            axios
                .get(API_URL + endpoint, {
                    auth: {
                        username: USERNAME,
                        password: PASSWORD,
                    },
                })
                .then((response) => {
                    //this.all = response;
                    console.log(response.data.values[0].value);
                    this.itemData = response.data.values;
                })
                .catch((error) => console.log(error));
        },

        onPluginChange(event) {
            // fetch devices for given plugin/connector
            this.devices = [];
            this.items = []; // also reset items
            this.device = null;
            this.item = null;
            let plug = event.target.value;
            console.log(plug);
            if (this.plugins == null) return null;
            if (this.plugins.length == 0) return null;

            this.plugins.forEach((el, idx) => {
                if (el.name == plug) {
                    this.plugins[idx].devices.forEach((el) => {
                        this.devices.push(el);
                        console.log(el.name);
                    });
                }
            });
        },

        onDeviceChange(event) {
            this.items = [];
            let dev = event.target.value;
            console.log(dev);

            if (this.devices == null) return null;
            if (this.devices.length == 0) return null;

            this.devices.forEach((el, idx) => {
                if (el.name == dev) {
                    this.devices[idx].items.forEach((el) => {
                        this.items.push(el);
                        console.log(el.name);
                    });
                }
            });
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196f3; */
    padding: 5px;
}

.grid-container-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    /* background-color: #2196f3; */
    padding: 5px;
}

.grid-container > .column {
    background-color: rgba(60, 179, 113, 0.8);
    text-align: center;
    padding: 10px 0;
    margin: 5px;
    font-size: 28px;
}

.grid-container-info > .column {
    background-color: rgba(60, 179, 113, 0.2);
    text-align: left;
    padding: 20px 20px;
    margin: 5px;
    font-size: 18px;
}

.selectedOption {
    background-color: #fefefe;
    padding: 20px 10px;
}

.btnData {
    background-color: #008cba; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.boxData {
    background-color: white;
    padding: 10px;
}

.info {
    text-align: left;
    padding: 20px 40px;
    margin: 20px;
}
</style>
